<html>
  <head>

    <meta http-equiv="content-type" content="text/html; charset=UTF-8">
  </head>
  <body text="#000000" bgcolor="#FFFFFF">
    <br>
    <div class="moz-forward-container"><br>
      <div id="container" style="width: 652px; margin: 0 auto; padding:
        0;">
        <table dir="ltr" width="100%" border="0" cellpadding="0"
          cellspacing="0">
          <tbody>
            <tr>
              <td style="padding-bottom: 15px; padding-left: 15px;
                background: #09F; border-top: 3px solid #B59200;"
                valign="bottom" align="left" height="25"><p><a
                  moz-do-not-send="true"
href="http://www.iwebinar.ir"
                  style="font-family: Tahoma, Geneva, sans-serif;
                  font-size: 10px; color: #FFF; text-decoration: none">نماآوای زندگی </a></p>
              <p><a
                  moz-do-not-send="true"
href="http://www.vworld.ir"
                  style="font-family: Tahoma, Geneva, sans-serif;
                  font-size: 10px; color: #FFF; text-decoration: none">سامانه سمینار</a></p></td>
              <td rowspan="2" style="background: #09F; padding-right:
                10px; border-top: 3px solid #B59200" valign="bottom"
                align="right" height="95"><table style="width:100%;"><tr ><td align="center">             <legend style=" text-align:right; font-family:Tahoma, Geneva, sans-serif;">سامانه سمینار نماآوای زندگی</legend></td><td style="width:30%;"><legend style="font-size:36px;" >نماآوای زندگی</legend>   </td></tr></table></td>
            </tr>
            <tr>
              <td style="padding-bottom: 15px; padding-left: 15px;
                background: #09F;" valign="bottom" align="left"><br>
              </td>
            </tr>
            <tr>
              <td style="border-left: 1px solid #E5E5E5"><br>
              </td>
              <td style="border-right: 1px solid #E5E5E5; padding-right:
                9px;" align="right">&nbsp;</td>
            </tr>
            <tr>
              <td colspan="2" style="border-left: 1px solid #e5e5e5;
                border-right: 1px solid #e5e5e5; padding: 15px;">
                <p style="font-family: Tahoma, Geneva, sans-serif;
                  font-size: 11px; line-height: 1.8em; direction: rtl;
                  text-align: right; margin-bottom: 10px;">شما برای شرکت در سمینار با جزئیات زیر درخواست داده و درخواست شما قبول شده است.</p>
                <table width="100%" border="0" cellpadding="0"
                  cellspacing="0">
                  <tbody>
                    <tr>
                      <td style="font-family: Tahoma, Geneva,
                        sans-serif; font-size: 11px; direction: rtl;
                        background: #f5f5f5; width: 100%; line-height:
                        1.6em;">
                        <div style="color: #000; font-family: Tahoma;
                          font-size: 11px; padding: 5px; margin: 0;">
                          <ul style="color: #000; font-family: Tahoma;
                            font-size: 11px; padding: 0; margin: 0;">
                            <li style="clear:both;list-style:none;color:
                              #000; min-height: 23px; font-family:
                              Tahoma; font-size: 11px; padding: 0;
                              margin: 0;"> <label style="color:
                                #FF6E00; font-family:
                                avvalNassim,Tahoma; font-size:
                                14.6667px; padding: 5px 5px 0 0; margin:
                                0; float: right;">موضوع: </label>
                              <div class="text maroon bold"
                                style="color: #8F8F8F; font-family:
                                avvalNassim,Tahoma; font-size: 15px;
                                padding: 5px 5px 5px 0; margin: 0;
                                float: right;">{1}</div>
                            </li>
                            <li style="clear:both;list-style:none;color:
                              #000; min-height: 23px; font-family:
                              Tahoma; font-size: 11px; padding: 0;
                              margin: 0;"> <label style="color:
                                #FF6E00; font-family:
                                avvalNassim,Tahoma; font-size:
                                14.6667px; padding: 5px 5px 0 0; margin:
                                0; float: right;">زمان: </label>
                              <div class="text" style="color: #8F8F8F;
                                font-family: avvalNassim,Tahoma;
                                font-size: 15px; padding: 5px 5px 5px 0;
                                margin: 0; float: right;">{2}</div>
                            </li>
                            <li style="clear:both;list-style:none;color:
                              #000; min-height: 23px; font-family:
                              Tahoma; font-size: 11px; padding: 0;
                              margin: 0;"> <label style="color:
                                #FF6E00; font-family:
                                avvalNassim,Tahoma; font-size:
                                14.6667px; padding: 5px 5px 0 0; margin:
                                0; float: right;">برگزارکننده: </label>
                            <span class="text noFloat lh1-6"
                                style="color: #8F8F8F; font-family:
                                avvalNassim,Tahoma; font-size: 15px;
                                width: auto; height: auto; padding: 0;
                                margin: 0;">{3}</span> </li>
                            <li style="clear:both;list-style:none;color:
                              #000; min-height: 23px; font-family:
                              Tahoma; font-size: 11px; padding: 0;
                              margin: 0;">
                              <fieldset style="color: #000; font-family:
                                Tahoma; font-size: 11px; padding: 0;
                                margin: 6px 0 0;"> <legend
                                  style="color: #000; font-family:
                                  avvalNassim,Tahoma; font-size:
                                  14.6667px; padding: 0 10px; margin: 0
                                  10px;">توضیحات سمینار</legend>
                                <table style="color: #000; font-family:
                                  Tahoma; font-size: 11px; padding: 0;
                                  margin: 5px; width: 98%;"
                                  cellpadding="0" cellspacing="1">
                                  <tbody style="color: #000;
                                    font-family: Tahoma; font-size:
                                    11px; padding: 0; margin: 0;">
                                    <tr style="color: #000; font-family:
                                      Tahoma; font-size: 11px; padding:
                                      0; margin: 0;">
                                      <td colspan="3" style="color:
                                        #000; font-family: Tahoma;
                                        font-size: 11px; padding: 0;
                                        margin: 0;"><label style="color:
                                          #FF6E00; font-family:
                                          avvalNassim,Tahoma; font-size:
                                          14.6667px; padding: 5px 5px 0
                                          0; margin: 0; float: right;">نام ارائه دهنده: </label>
                                        <div class="text" style="color:
                                          #8F8F8F; font-family:
                                          avvalNassim,Tahoma; font-size:
                                          15px; padding: 5px 5px 5px 0;
                                          margin: 0; float: right;">{4}</div>
                                      </td>
                                    </tr>
                                    <tr style="color: #000; font-family:
                                      Tahoma; font-size: 11px; padding:
                                      0; margin: 0;">
                                      <td style="color: #000;
                                        font-family: Tahoma; font-size:
                                        11px; padding: 0; margin: 0;"><label
                                          style="color: #FF6E00;
                                          font-family:
                                          avvalNassim,Tahoma; font-size:
                                          14.6667px; padding: 5px 5px 0
                                          0; margin: 0; float: right;">تحصیلات: </label>
                                        <div class="text" style="color:
                                          #8F8F8F; font-family:
                                          avvalNassim,Tahoma; font-size:
                                          15px; padding: 5px 5px 5px 0;
                                          margin: 0; float: right;">{5}</div>
                                      </td>
                                      <td style="color: #000;
                                        font-family: Tahoma; font-size:
                                        11px; padding: 0; margin: 0;"><div class="text" style="color:
                                          #8F8F8F; font-family:
                                          avvalNassim,Tahoma; font-size:
                                          15px; padding: 5px 5px 5px 0;
                                          margin: 0; float: right;"></div>
                                      </td>
                                      <td style="color: #000;
                                        font-family: Tahoma; font-size:
                                        11px; padding: 0; margin: 0;"><label
                                          style="color: #FF6E00;
                                          font-family:
                                          avvalNassim,Tahoma; font-size:
                                          14.6667px; padding: 5px 5px 0
                                          0; margin: 0; float: right;">ظرفیت سمینار : </label>
                                        <div class="text" style="color:
                                          #8F8F8F; font-family:
                                          avvalNassim,Tahoma; font-size:
                                          15px; padding: 5px 5px 5px 0;
                                          margin: 0; float: right;">{6}</div>
                                      </td>
                                    </tr>
                                    <tr style="color: #000; font-family:
                                      Tahoma; font-size: 11px; padding:
                                      0; margin: 0;">
                                      <td style="color: #000;
                                        font-family: Tahoma; font-size:
                                        11px; padding: 0; margin: 0;"><label
                                          style="color: #FF6E00;
                                          font-family:
                                          avvalNassim,Tahoma; font-size:
                                          14.6667px; padding: 5px 5px 0
                                          0; margin: 0; float: right;">ارائه کننده ی مبحث
                                      : </label>
                                      <div class="text" style="color:
                                          #8F8F8F; font-family:
                                          avvalNassim,Tahoma; font-size:
                                          15px; padding: 5px 5px 5px 0;
                                          margin: 0; float: right;">{7}</div></td>
                                      <td style="color: #000;
                                        font-family: Tahoma; font-size:
                                        11px; padding: 0; margin: 0;"><label
                                          style="color: #FF6E00;
                                          font-family:
                                          avvalNassim,Tahoma; font-size:
                                          14.6667px; padding: 5px 5px 0
                                          0; margin: 0; float: right;">کلمات کلیدی : </label>
                                      <div class="text" style="color:
                                          #8F8F8F; font-family:
                                          avvalNassim,Tahoma; font-size:
                                          15px; padding: 5px 5px 5px 0;
                                          margin: 0; float: right;">{8}</div></td>
                                      <td style="color: #000;
                                        font-family: Tahoma; font-size:
                                        11px; padding: 0; margin: 0;"><label
                                          style="color: #FF6E00;
                                          font-family:
                                          avvalNassim,Tahoma; font-size:
                                          14.6667px; padding: 5px 5px 0
                                          0; margin: 0; float: right;"> </label></td>
                                    </tr>
                                    <tr style="color: #000; font-family:
                                      Tahoma; font-size: 11px; padding:
                                      0; margin: 0;">
                                      <td colspan="3" style="color:
                                        #000; font-family: Tahoma;
                                        font-size: 11px; padding: 0;
                                        margin: 0;"><label style="color:
                                          #FF6E00; font-family:
                                          avvalNassim,Tahoma; font-size:
                                          14.6667px; padding: 5px 5px 0
                                          0; margin: 0; float: right;">توضیحات سمینار : </label>
                                        <div class="text" style="color:
                                          #8F8F8F; font-family:
                                          avvalNassim,Tahoma; font-size:
                                          15px; padding: 5px 5px 5px 0;
                                          margin: 0; float: right;">
                                          {9} </div>
                                      </td>
                                    </tr>
                                    <tr style="color: #000; font-family:
                                      Tahoma; font-size: 11px; padding:
                                      0; margin: 0;">
                                      <td style="color: #000;
                                        font-family: Tahoma; font-size:
                                        11px; padding: 0; margin: 0;"><label
                                          style="color: #FF6E00;
                                          font-family:
                                          avvalNassim,Tahoma; font-size:
                                          14.6667px; padding: 5px 5px 0
                                          0; margin: 0; float: right;">وبسایت برگزارکننده: </label>
                                        <div class="text" style="color:
                                          #8F8F8F; font-family:
                                          avvalNassim,Tahoma; font-size:
                                          15px; padding: 5px 5px 5px 0;
                                          margin: 0; float: right;"><a class="moz-txt-link-abbreviated" href="mailto:{10}">{10}</a></div>
                                      </td>
                                      <td style="color: #000;
                                        font-family: Tahoma; font-size:
                                        11px; padding: 0; margin: 0;"><label
                                          style="color: #FF6E00;
                                          font-family:
                                          avvalNassim,Tahoma; font-size:
                                          14.6667px; padding: 5px 5px 0
                                          0; margin: 0; float: right;">ایمیل برگزارکننده            : </label>
                                        <div class="text" style="color:
                                          #8F8F8F; font-family:
                                          avvalNassim,Tahoma; font-size:
                                          15px; padding: 5px 5px 5px 0;
                                          margin: 0; float: right;"><a class="moz-txt-link-abbreviated" href="mailto:{11}">{11}</a></div>
                                      </td>
                                      <td style="color: #000;
                                        font-family: Tahoma; font-size:
                                        11px; padding: 0; margin: 0;"><label
                                          style="color: #FF6E00;
                                          font-family:
                                          avvalNassim,Tahoma; font-size:
                                          14.6667px; padding: 5px 5px 0
                                          0; margin: 0; float: right;"> </label>
                                        <div class="text" style="color:
                                          #8F8F8F; font-family:
                                          avvalNassim,Tahoma; font-size:
                                          15px; padding: 5px 5px 5px 0;
                                          margin: 0; float: right;"></div>
                                      </td>
                                    </tr>
                                    <tr style="color: #000; font-family:
                                      Tahoma; font-size: 11px; padding:
                                      0; margin: 0;">
                                      <td colspan="3" style="color:
                                        #000; font-family: Tahoma;
                                        font-size: 11px; padding: 0;
                                        margin: 0;"> </td>
                                    </tr>
                                  </tbody>
                                </table>
                              </fieldset>
                            </li>
                            <li style="clear:both;list-style:none;color:
                              #000; min-height: 23px; font-family:
                              Tahoma; font-size: 11px; padding: 0;
                              margin: 0;">
                              <fieldset style="color: #000; font-family:
                                Tahoma; font-size: 11px; padding: 0;
                                margin: 6px 0 0;"> <legend
                                  style="color: #000; font-family:
                                  avvalNassim,Tahoma; font-size:
                                  14.6667px; padding: 0 10px; margin: 0
                                  10px;">اطلاعات بیشتر</legend>
                                <div class="text" style="color: #8F8F8F;
                                  font-family: avvalNassim,Tahoma;
                                  font-size: 15px; padding: 5px 5px 5px
                                  0; margin: 0; float: right;">
                                  <div style="margin: 0 5px 0 10px;
                                    text-align: justify;"><li style="clear:both;list-style:none;color:
                              #000; min-height: 23px; font-family:
                              Tahoma; font-size: 11px; padding: 0;
                              margin: 0;"> <label style="color:
                                #FF6E00; font-family:
                                avvalNassim,Tahoma; font-size:
                                14.6667px; padding: 5px 5px 0 0; margin:
                                0; float: right;">نام کاربری:
                              </label>
                              <div class="text" style="color: #8F8F8F;
                                font-family: avvalNassim,Tahoma;
                                font-size: 15px; padding: 5px 5px 5px 0;
                                margin: 0; float: right;">{12}</div></div>
                                <div style="margin: 0 5px 0 10px;
                                    text-align: justify;"><li style="clear:both;list-style:none;color:
                              #000; min-height: 23px; font-family:
                              Tahoma; font-size: 11px; padding: 0;
                              margin: 0;"> <label style="color:
                                #FF6E00; font-family:
                                avvalNassim,Tahoma; font-size:
                                14.6667px; padding: 5px 5px 0 0; margin:
                                0; float: right;">گذرواژه:
                              </label>
                              <div class="text" style="color: #8F8F8F;
                                font-family: avvalNassim,Tahoma;
                                font-size: 15px; padding: 5px 5px 5px 0;
                                margin: 0; float: right;">{13}</div></div>
                                </div>
                                
                              </fieldset>
                            <li class="mt10"
                              style="clear:both;list-style:none;color:
                              #000; font-family: Tahoma; font-size:
                              11px; padding: 0; margin: 10px 0 0;">رای استفاده از این سمینار به سایت http://iwebinar.ir:6060 مراجعه کرده و بعد از ورود به حساب کاربری خود به قسمت 'دعوتهای من' مراجعه کنید.</li>
<li class="mt10"
                              style="clear:both;list-style:none;color:
                              #000; font-family: Tahoma; font-size:
                              11px; padding: 0; margin: 10px 0 0;"></li></ul>
                        </div>
                      </td>
                    </tr>
                  </tbody>
                </table>
                <p style="font-family: Tahoma, Geneva, sans-serif;
                  font-size: 11px; margin-bottom: 10px; line-height:
                  1.8em; direction: rtl; text-align: right;">با احترام، سامانه سمینار نماآوای زندگی </p>
              </td>
            </tr>
            <tr>
              <td colspan="2"> <img moz-do-not-send="true"
                  src="http://www.avval.ir/images/mail-footer.gif"
                  width="652" height="39"></td>
            </tr>
          </tbody>
        </table>
      </div>
      <img moz-do-not-send="true"
src="http://email.avval.ir/wf/open?upn=m5LwI2xNVqwMxUnRykiMRlxsy6YsxVkYmKVlnzRiva9ED5tidbt37FwivJZiUv1sjv4uSi3VgZflXDQ8kK0frezctazxNckv-2BT6FAP9beymrl7AxPFnws7pScHTDsFlbLrlyxxFEgIKcFjHAqhS07-2Bufbun1JelQ1ZnhyABZPvY-3D"
        alt="" style="height:1px !important;width:1px
        !important;border-width:0 !important;margin-top:0
        !important;margin-bottom:0 !important;margin-right:0
        !important;margin-left:0 !important;padding-top:0
        !important;padding-bottom:0 !important;padding-right:0
        !important;padding-left:0 !important;" width="1" border="0"
        height="1">
      <p class="" avgcert""="" color="#000000" align="left"><br>
      </p>
      <br>
    </div>
    <br>
  </body>
</html>
