<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">

<html xmlns="http://www.w3.org/1999/xhtml" dir="rtl">
<head>
    <title>Sample Login</title>
    <script type="text/javascript" src="../Scripts/jquery-1.4.1.js"></script>
    <style type="text/css">
        .style1
        {
            text-align: right;
        }
        #Button2
        {
            text-align: right;
        }
        #Button1
        {
            width: 95px;
        }
        
        .FONT
        {
            font-family:Tahoma;
        }
    </style>
    <script type="text/javascript">
        function LoginToServer() {
            var _userName = document.getElementById("UserName").value;
            var _password = document.getElementById("Password").value;
            alert(_userName + " : " + _password);
            $.getJSON("http://localhost:1794/Account/havij2", { userName: "Majid" }, function (msalam) {
                alert(msalam.size);
                alert(msalam);
            });
        }
    </script>
</head>
<body>
<table  class="FONT">
<tr><td>

    <input id="UserName" type="text" /></td><td colspan="2">نام کاربری</td></tr>
<tr><td>
    <input id="Password" type="password" /></td><td colspan="2">کلمه عبور</td></tr>
<tr><td class="style1">مرا بخاطر بسپار</td><td></td><td>
    <input id="IsRememebr" type="checkbox" /></td></tr>

<tr><td colspan="3">
    <input id="Button1" type="button" value="ورود" onclick="LoginToServer();"/></td></tr>

</table>
</body>
</html>