<?xml version="1.0" encoding="utf-8"?>
<!--
  For more information on how to configure your ASP.NET application, please visit
  http://go.microsoft.com/fwlink/?LinkId=152368
  -->

<configuration>
  <configSections>
    <sectionGroup name="applicationSettings" type="System.Configuration.ApplicationSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089">
      <section name="Webinar.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
    </sectionGroup>
  </configSections>
  <connectionStrings>
    <remove name="LocalSqlServer" />
    <add name="ApplicationServices" connectionString="Server=5.200.78.10\MSSQLSERVER,1433;Database=Namaava;User ID=Hiva;Password=P@ssw0rd"
      providerName="System.Data.SqlClient" />
    <add name="WebinarEntities" connectionString="metadata=res://*/Models.DataBase.csdl|res://*/Models.DataBase.ssdl|res://*/Models.DataBase.msl;provider=System.Data.SqlClient;provider connection string=&quot;Data Source=5.200.78.10\MSSQLSERVER,1433;Database=Namaava;User ID=Hiva;Password=P@ssw0rd;Integrated Security=True&quot;"
      providerName="System.Data.EntityClient" />
    <add name="WebinarEntities1" connectionString="metadata=res://*/Models.DataBase.csdl|res://*/Models.DataBase.ssdl|res://*/Models.DataBase.msl;provider=System.Data.SqlClient;provider connection string=&quot;Data Source=5.200.78.10\MSSQLSERVER,1433;Database=Namaava;User ID=Hiva;Password=P@ssw0rd;Integrated Security=True&quot;"
      providerName="System.Data.EntityClient" />
    <add name="sampleConnectionString" connectionString="Data Source=5.200.78.10\MSSQLSERVER,1433;Database=Namaava;User ID=Hiva;Password=P@ssw0rd"
      providerName="System.Data.SqlClient" />
    <add name="BankTransitionConnectionString" connectionString="Data Source=5.200.78.10\MSSQLSERVER,1433;Initial Catalog=BankTransition;User ID=hiva;Password=P@ssw0rd"
      providerName="System.Data.SqlClient" />
    <add name="sampleConnectionString1" connectionString="Data Source=5.200.78.10\MSSQLSERVER,1433;Database=Namaava;User ID=Hiva;Password=P@ssw0rd"
      providerName="System.Data.SqlClient" />
  </connectionStrings>
  <system.webServer>
    <security>
      <requestFiltering>
        <requestLimits maxAllowedContentLength="1048576000" /><!-- Size of One Giga Byte to Allow someone to upload! you have to complete runtime too  -->
      </requestFiltering>
    </security>
        <directoryBrowse enabled="true" />
  </system.webServer>
  <system.web>
    <httpRuntime  requestValidationMode="2.0"  maxRequestLength="10240000" executionTimeout="3600"  />
    <!-- Size of One Giga Byte to Allow someone to upload!  -->
 
    
    <compilation debug="true" targetFramework="4.0">
      <assemblies>
        <add assembly="System.Web.Abstractions, Version=4.0.0.0, Culture=neutral, PublicKeyToken=31BF3856AD364E35" />
        <add assembly="System.Web.Routing, Version=4.0.0.0, Culture=neutral, PublicKeyToken=31BF3856AD364E35" />
        <add assembly="System.Web.Mvc, Version=2.0.0.0, Culture=neutral, PublicKeyToken=31BF3856AD364E35" />
        <add assembly="System.Data.Entity, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" />
      </assemblies>
    </compilation>
    <authentication mode="Forms">
      <forms loginUrl="http://5.200.78.10:6060/index.html" timeout="240" slidingExpiration="true" requireSSL="false" enableCrossAppRedirects="false" />
    </authentication>
    <membership userIsOnlineTimeWindow="1">
      <providers>
        <clear />
        <add name="AspNetSqlMembershipProvider" type="System.Web.Security.SqlMembershipProvider" connectionStringName="ApplicationServices" enablePasswordRetrieval="false" enablePasswordReset="true" requiresQuestionAndAnswer="false" requiresUniqueEmail="true" maxInvalidPasswordAttempts="500" minRequiredPasswordLength="6" minRequiredNonalphanumericCharacters="0" passwordAttemptWindow="1" applicationName="/" />
      </providers>
    </membership>
    <profile>
      <providers>
        <clear />
        <add name="AspNetSqlProfileProvider" type="System.Web.Profile.SqlProfileProvider" connectionStringName="ApplicationServices" applicationName="/" />
      </providers>
    </profile>
    <roleManager enabled="true">
      <providers>
        <clear />
        <add connectionStringName="ApplicationServices" applicationName="/" name="AspNetSqlRoleProvider" type="System.Web.Security.SqlRoleProvider" />
        <add applicationName="/" name="AspNetWindowsTokenRoleProvider" type="System.Web.Security.WindowsTokenRoleProvider" />
      </providers>
    </roleManager>
    <pages>
      <namespaces>
        <add namespace="System.Web.Mvc" />
        <add namespace="System.Web.Mvc.Ajax" />
        <add namespace="System.Web.Mvc.Html" />
        <add namespace="System.Web.Routing" />
      </namespaces>
      <controls>
        <add tagPrefix="asp" namespace="System.Web.DynamicData"
        assembly="System.Web.DynamicData, Version=3.5.0.0,  &#xD;&#xA;         Culture=neutral, PublicKeyToken=31BF3856AD364E35"
                                                          />
      </controls>

    </pages>
  </system.web>
  <runtime>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <dependentAssembly>
        <assemblyIdentity name="System.Web.Mvc" publicKeyToken="31bf3856ad364e35" />
        <bindingRedirect oldVersion="1.0.0.0" newVersion="2.0.0.0" />
      </dependentAssembly>
    </assemblyBinding>
  </runtime>
  <applicationSettings>
    <Webinar.Properties.Settings>
      <setting name="Webinar_WebReference_Send" serializeAs="String">
        <value>http://87.107.121.52/post/send.asmx</value>
      </setting>
      <setting name="Webinar_HivaLogger_RemoteLoggerService" serializeAs="String">
        <value>http://localhost:7070/Service1.svc</value>
      </setting>
      <setting name="Webinar_Zarinpal_WebServices" serializeAs="String">
        <value>http://www.zarinpal.com/WebserviceGateway/</value>
      </setting>
    </Webinar.Properties.Settings>
  </applicationSettings>
</configuration>